@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #1aba9f57;
  --secondary: #3c40487d;
  --thirdly: gray;
}
* {
  font-family: "DM Sans", sans-serif;
}
body {
  // background-image: url("/public/images/business.jpg");
  background-image: url("/public/images/body-bg.jpg");
  background-position: center;
  background-size: cover;
  // background-repeat: repeat-y;
  background-attachment: fixed;
}
@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
